.skills {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #454545;
  padding-top: 46px;
  padding-bottom: 46px;
  max-width: 795px;
  margin: 0 auto; /* выровнять содержимое блока по центру */
}
