.footer__link {
  color: rgb(203, 198, 198);
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.6;
  text-decoration: none;

}

.footer__link:hover {
  color: white;
}
