.about__title {
  margin-top: 0; /* сбросить стандартные отступы */
  margin-bottom: 0; /* сбросить стандартные отступы */
  text-transform: lowercase;
  overflow-wrap: break-word;
  line-height: 1.1;
  font-weight: 300;
}
