.intro__image-container {
  max-width: 450px;
  max-height: 450px;
  border-radius: 50%;
  border: 10px solid white;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: -70px;
}
