.intro__image-container {
  width: 422px;
  height: 422px;
  border-radius: 50%;
  border: 8px solid white;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: -70px;
}
