.skills__title {
  margin-top: 0; /* сбросить стандартные отступы */
  margin-bottom: 0; /* сбросить стандартные отступы */
  font-family: 'Inter', Arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
}
