.intro__title {
  font-size: 44px;
  letter-spacing: 4px;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 300;
  margin-top: 0; /* сбросить стандартные отступы */
  margin-bottom: 0; /* сбросить стандартные отступы */
}
